*{
    /* css universal memungkinkan semua tag yang ada didalam html terpengaruh dengan css universal */
    box-sizing: border-box;
}
body {
    margin: 0;
}

.header {
    background-image: url('../img/header4.jpg');
    /*background-repeat: no-repeat;*/
    background-position: center;
    padding: 10px;
    text-align: center;
    color: white;
}

.navbar{
    overflow: visible;
    background-color: violet;
    justify-content: center;
    display: flex;
}
.navbar a{
    float: left;
    display: block;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    /* margin: 30px;*/
}
.navbar a:hover{
    background-color: rgb(14, 102, 56);
    color: black;
}

.column{
    float: left;
    padding: 10px;
}
.column.side{
    width: 25%;
}
.column.middle{
    width: 50%;
}
.row::after{
content: "";
display: table;
clear: both; /*memberikan float left sebelumnya*/
}

.footer{
    background-color: rgb(71, 87, 204);
    padding: 10px;
    text-align: center;
}